<h1><%= @artist.name %></h1>

<p>Songs:</p>

<ol>
  <% @artist.songs.each do |song| %>
    <li id="song-<%= song.id %>">
      <%= song.title %>
      <button id="<%= song.id %>" class="delete-song">Delete song</button>
    </li>
  <% end %>
</ol>



<br>

<%= link_to "Back", root_path %>
